.hidden {
    display: none;
}

body {
    color: white;
}

#center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 열 가운데 */
    align-items: center;  /* 행 가운데 */
    height: 90vh;
    text-align: center;
}

#weather {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

#aphorism {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}