.hidden {
    display: none;
}

body {
    color: white;
}

#center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 열 가운데 */
    align-items: center;  /* 행 가운데 */
    height: 90vh;
    text-align: center;
}

#weather {
    position: absolute;
    top: 20px;
    right: 20px;
    text-align: right;
}

#aphorism {
  display: flex;
  flex-direction: column; /* 세로로 쌓이게 */
  justify-content: flex-end; /* 수직 하단으로 정렬 */
  align-items: center; /* 수평 중앙으로 정렬*/
  text-align: center; /* 텍스트 중앙 정렬 */
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }