.hidden {
    display: none;
}

body {
    color: white;
}

#center-container {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 열 가운데 */
    align-items: center;  /* 행 가운데 */
    height: 90vh;
    text-align: center;
}

#clock {
  font-size: 5vw;
}

#weather {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
}

#aphorism {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%); /* 요소를 왼쪽으로 50% 만큼 이동시켜 중앙으로 정렬 */
  text-align: center;
  white-space: nowrap; /* 텍스트가 줄바꿈 없이 한 줄로 유지되도록 함 */
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }